body {
	font-family: sans-serif;
}

/*nav bar*/
.navbar {
	position: fixed;
	width: 100%;
}
.logo {
	width: 60%;
	height: 30%;
	padding-left: 1rem;
}
.user-icon {
	background-color: rgb(223, 223, 223);
	border-radius: 50%;
	font-size: 1.2rem;
}
.cart-icon {
	font-size: 1.2rem;
}

.nav-text {
	margin: 0 1rem;
	color: black;
	font-weight: 600;
}

/*home section*/
.home {
	padding-top: 5rem;
}
.home-img {
	width: 100%;
	height: 87vh;
}

.home h2 {
	padding: 1rem 0;
}

.home button {
	padding: 0.75rem 2.4rem;
	background-color: #007a78;
	border: none;
}

.home-description {
	position: absolute;
	color: aliceblue;
	top: 23rem;
	left: 15rem;
	width: 45%;
}

/*card section*/
.card-section {
	position: relative;
	bottom: 5rem;
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	margin: 0 2.5rem;
}

.card {
	font-size: 1rem;
	text-align: center;
	align-items: center;
	width: 10rem;
	height: fit-content;
	padding: 1rem;
	border-radius: 5px;
	box-shadow: 1px 6px 10px 1px rgb(190, 190, 190);
	border: 1px solid #ccc;
}

.circle1 {
	position: absolute;
	border: 0.5px solid #fff;
	right: 6rem;
	border-radius: 50%;
	padding: 0.45rem;
	background-color: rgb(240, 240, 240);
}
.circle2 {
	position: absolute;
	border: 0.5px solid #fff;
	right: 6rem;
	border-radius: 50%;
	padding: 0.45rem;
	background-color: rgb(240, 240, 240);
}

.card-icon {
	font-size: 1.5rem;
	padding: 1rem;
	width: 70%;
	background-color: rgb(231, 231, 231);
	border-radius: 50%;
	border: 0.1px solid #fff;
}
.card i {
	color: #007a78;
}
.card p {
	width: 90%;
	padding-top: 1rem;
	color: rgb(105, 105, 105);
	font-size: 1rem;
	font-weight: bold;
}

/*My learning section*/

.my-learning-section {
	margin: 0rem 10rem 5rem 10rem;
	color: #007a78;
}
.my-learning-header {
	padding-bottom: 2rem;
}

.my-learning-header h2 {
	font-size: 2.2rem;
	font-weight: bold;
}
.my-learning-header-desc {
	display: flex;
	justify-content: space-between;
	font-size: 1.2rem;
	font-weight: bold;
}

.my-learning-card {
	display: flex;
	/* box-shadow: 1px 5px 15px 0.5px rgb(199, 199, 199); */
}

.my-learning-img {
	width: 15rem;
	height: 11rem;
}

.my-learning-card-desc {
	border: 1px solid #ccc;
	text-align: left;
	padding: 0 1rem;
	width: 50%;
}
.my-learning-card-desc h5 {
	margin-top: 1rem;
	font-size: 1.1rem;
	font-weight: bold;
}
.my-learning-card-desc p {
	font-size: 0.85rem;
}

/*Course section*/

.course-section {
	margin: 0 10rem 5rem 10rem;
}

.course-arrow {
	position: relative;
	font-size: 5rem;
	color: rgb(156, 156, 156);
}

.arrow-left {
	position: absolute;
	top: 13.75rem;
	left: -2rem;
}
.arrow-right {
	position: absolute;
	top: 13.75rem;
	right: -2rem;
}

.course-title {
	text-align: center;
	color: #007a78;
}
.course-title p {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: -1rem;
}
.course-title span {
	font-size: 2rem;
	font-weight: bold;
}

.course-cards-sec {
	padding: 2rem 0 0 0;
	display: flex;
	justify-content: space-around;
}
.course-card {
	text-align: center;
	width: 20rem;
	height: 20rem;
	border-radius: 5px;
	box-shadow: 1px 6px 10px 1px rgb(201, 201, 201);
}
.card-img-top {
	width: 20rem;
	height: 11rem;
}

.course-card-body {
	padding: 1rem;
}
.course-card-title {
	text-align: left;
	font-weight: bold;
	color: #007a78;
	font-size: 1rem;
}

.course-author {
	display: flex;
}
.course-author img {
	width: 2rem;
	height: 2rem;
}
.course-author p {
	padding: 0.25rem 0 0 1rem;
	font-size: 0.9rem;
}

.course-price-rating {
	display: flex;
	justify-content: space-between;
}

.course-price span {
	font-size: 1.2rem;
	font-weight: bold;
	color: rgb(109, 109, 109);
}
.course-rating span {
	color: rgb(204, 130, 33);
	font-weight: 700;
}
.course-rating span i {
	color: rgb(248, 161, 46);
}

/*footer section*/
footer {
	background-color: #d2efe8;
	width: 100%;
	padding: 4rem 5rem 1rem 3rem;
}

.footer-helpfull-links {
	text-align: left;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer-helpfull-links ul {
	text-align: left;
	list-style: none;
	padding: 0;
}
.footer-helpfull-links li {
	padding: 0.35rem 0 0 0;
}

.footer-helpfull-links h5 {
	padding: 2.5rem 0 0 0;
	font-weight: bold;
	font-size: 1.4rem;
	color: #078b89;
}

.footer-company-overview {
	width: 22%;
}

.footer-company-overview img {
	width: 80%;
	height: 30%;
}

.footer-company-overview span {
	color: #007a78;
}
.footer-company-overview p {
	width: 75%;
	font-size: 0.85rem;
}
.footer-company-overview .company-des {
	padding-top: 0.5rem;
}

.footer-company-overview .social-link {
	padding: 1rem 0 2rem 0;
}
.footer-company-overview .social-link a {
	color: #007a78;
	font-size: 1.5rem;
	padding-right: 1.5rem;
}

.footer-company-conditions {
	padding-top: 1rem;
	border-top: 1px solid #078b89;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-company-conditions {
	color: #007a78;
}
.footer-company-conditions .term {
	display: flex;
	justify-content: space-between;
}

/*Responsive*/
@media (min-width: 768px) and (max-width: 1023px) {
	.navbar {
		width: 88.9%;
	}
	/*home*/
	.home-img {
		height: 50vh;
	}
	.home-description {
		top: 20rem;
		left: 4rem;
		width: 67%;
	}

	/*card section*/

	.card-section {
		padding: 3rem 0 0 0;
	}
	.card {
		width: 6.5rem;
		padding: 0;
	}

	/*my learing section*/
	.my-learning-section {
		margin: 0rem 4rem 5rem 4rem;
	}
	.my-learning-card {
		width: 50rem;
	}
	.my-learning-card-desc h5 {
		width: 90%;
		margin-top: 2.1rem;
	}
	.my-learning-card-desc p {
		width: 90%;
	}

	/*course  section*/
	.course-section {
		text-align: -webkit-center;
	}
	.course-cards-sec {
		display: block;
	}

	/*footer*/
	.footer-company-overview {
		width: 35%;
	}

	.footer-company-overview img {
		width: 89%;
		height: 22%;
	}
	.footer-company-overview span {
		font-size: 0.85rem;
	}

	.footer-helpfull-links h5 {
		padding: 3.5rem 0 0 0;
	}
}

@media (min-width: 468px) and (max-width: 767px) {
	/*nav bar*/

	/*home*/
	.home-img {
		height: 50vh;
	}
	.home-description {
		top: 13rem;
		left: 4rem;
		width: 74%;
	}

	.home h5 {
		font-size: 0.75rem;
	}

	.home h2 {
		font-size: 1rem;
		padding: 0;
	}
	.home button {
		padding: 0.4rem 1.3rem;
	}

	/*card section*/

	.card-section {
		text-align: -webkit-center;
		position: static !important;
		display: block;
	}
	.card {
		padding: 2px;
		margin: 1rem 0 0 0;
		font-size: 1.35rem;
	}
	.card p {
		font-size: 0.85rem;
	}

	/*my learing section*/
	.my-learning-section {
		margin: 0rem 2rem 5rem;
	}

	.my-learning-header h2 {
		font-size: 1.75rem;
	}

	.my-learning-header p {
		font-size: 1rem;
	}

	.my-learning-img {
		width: 10rem;
		height: 8rem;
	}
	.my-learning-card-desc {
		width: 100%;
	}

	.my-learning-card-desc h5 {
		font-size: 0.85rem;
	}
	.my-learning-card-desc p {
		font-size: 0.5rem;
	}

	/*course section*/
	.course-section {
		margin: 0 2rem 5rem 2rem;
	}
	.course-title span {
		font-size: 1.5rem;
	}

	.course-cards-sec {
		text-align: -webkit-center;
		display: block;
	}
	.course-card {
		width: 17rem;
		height: 18rem;
	}
	.card-img-top {
		width: 17rem;
		height: 10rem;
	}
	.course-card-title {
		font-size: 0.9rem;
	}

	.course-author img {
		width: 1.5rem;
		height: 1.5rem;
	}
	.course-author p {
		font-size: 0.8rem;
	}

	.course-price span {
		font-size: 0.9rem;
	}

	.course-rating {
		font-size: 0.9rem;
	}

	/*footer*/

	.footer-helpfull-links {
		display: block;
	}

	.footer-company-overview {
		width: auto;
	}
	.footer-company-overview img {
		width: 40%;
	}
	.footer-company-overview span {
		font-size: 0.65rem;
	}
	.footer-company-overview p {
		font-size: 0.65rem;
	}
	.footer-company-overview .company-des {
		padding-top: 0.5rem;
	}
	.footer-company-overview .social-link {
		padding: 0;
	}
	.footer-company-overview .social-link a {
		font-size: 1rem;
		padding-right: 1rem;
	}
	.footer-helpfull-links h5 {
		font-size: 1rem;
	}
	.footer-helpfull-links li {
		font-size: 0.65rem;
	}
	.footer-company-conditions {
		font-size: 0.65rem;
	}
}
